*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

p{
    color: hsl(0, 0%, 72%);
}

h3{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px ;
}
